In [44]:
#importing packages
import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import os   
from zipfile import ZipFile

In [45]:
year = input("Desired year:")
month = input("Desired month:")
r = requests.get("https://kriminalita.policie.cz/api/v2/downloads/{year}{month}.zip".format(year = year,month = month))
print(r.status_code)

200

In [46]:
file_name = "202304"

In [47]:
with open(file_name + ".zip",'wb') as output_file:
    output_file.write(r.content)
print('Downloading Completed')

Downloading Completed

In [48]:
with ZipFile("C:\\Users\\tomas\\Midterm_practice\\" + file_name + ".zip", 'r') as zObject:
  
    # Extracting all the members of the zip 
    # into a specific location.
    zObject.extractall(
        path="C:\\Users\\tomas\\Midterm_practice")

In [49]:
print(file_name + ".csv")

202304.csv

In [50]:
df = pd.read_csv(file_name + ".csv")

In [51]:
df

,id,x,y,mp,date,state,relevance,types
0,20751614,15.035709,50.188481,False,2023-04-03T15:26:00.0000+02:00,2,4,55
1,20751614,15.035709,50.188481,False,2023-04-03T15:26:00.0000+02:00,2,4,102
2,20753596,14.623349,50.879431,False,2023-04-01T08:00:00.0000+02:00,2,4,35
3,20753596,14.623349,50.879431,False,2023-04-01T08:00:00.0000+02:00,2,4,49
4,20768445,12.828141,50.247930,False,2023-04-01T15:25:00.0000+02:00,1,2,55
...,...,...,...,...,...,...,...,...
73107,20888053,14.493679,50.029449,False,2023-04-06T21:05:00.0000+02:00,1,4,97
73108,20888053,14.493679,50.029449,False,2023-04-06T21:05:00.0000+02:00,1,4,120
73109,20888054,16.295305,49.883140,False,2023-04-06T21:23:00.0000+02:00,1,4,74
73110,20888054,16.295305,49.883140,False,2023-04-06T21:23:00.0000+02:00,1,4,97
73111,20888054,16.295305,49.883140,False,2023-04-06T21:23:00.0000+02:00,1,4,120