In [1]:
#importing packages
import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import os   
from zipfile import ZipFile

In [8]:
year = input("Desired year:")
month = input("Desired month:")
r = requests.get("https://kriminalita.policie.cz/api/v2/downloads/{year}{month}.zip".format(year = year,month = month))
print(r.status_code)

200

In [9]:
file_name = f"{year}{month}"

In [10]:
with open(file_name + ".zip",'wb') as output_file:
    output_file.write(r.content)
print('Downloading Completed')

Downloading Completed

In [15]:
with ZipFile("C:\\Users\\tomas\\Python Project\\" + file_name + ".zip", 'r') as zObject:
  
    # Extracting all the members of the zip 
    # into a specific location.
    zObject.extractall(
        path="C:\\Users\\tomas\\Python Project")

In [16]:
print(file_name + ".csv")

202006.csv

In [17]:
df = pd.read_csv(file_name + ".csv")

In [18]:
df.head(50)

,id,x,y,mp,date,state,relevance,types
0,12367987,14.485804,50.089340,False,2020-06-30T11:00:00.0000+02:00,1,3,54
1,12470798,12.659285,50.177047,False,2020-06-02T09:08:00.0000+02:00,1,2,55
2,12470798,12.659285,50.177047,False,2020-06-02T09:08:00.0000+02:00,1,2,62
3,13189324,16.588947,49.207122,False,2020-06-22T11:35:00.0000+02:00,1,4,74
4,13189324,16.588947,49.207122,False,2020-06-22T11:35:00.0000+02:00,1,4,97
5,13189324,16.588947,49.207122,False,2020-06-22T11:35:00.0000+02:00,1,4,120
6,13288848,16.048542,48.856294,False,2020-06-02T23:57:00.0000+02:00,1,4,76
7,13288848,16.048542,48.856294,False,2020-06-02T23:57:00.0000+02:00,1,4,97
8,13288848,16.048542,48.856294,False,2020-06-02T23:57:00.0000+02:00,1,4,111
9,13330639,18.294289,49.837221,False,2020-06-17T14:42:00.0000+02:00,4,3,1
10,13330639,18.294289,49.837221,False,2020-06-17T14:42:00.0000+02:00,4,3,6
11,13364107,15.809794,50.427464,False,2020-06-23T11:30:00.0000+02:00,1,4,35
12,13364107,15.809794,50.427464,False,2020-06-23T11:30:00.0000+02:00,1,4,48
13,13364107,15.809794,50.427464,False,2020-06-23T11:30:00.0000+02:00,1,4,77
14,13364107,15.809794,50.427464,False,2020-06-23T11:30:00.0000+02:00,1,4,97
15,13418536,14.819723,50.786959,False,2020-06-12T15:00:00.0000+02:00,1,4,80
16,13418536,14.819723,50.786959,False,2020-06-12T15:00:00.0000+02:00,1,4,83
17,13437507,13.634620,50.505939,False,2020-06-08T08:00:00.0000+02:00,1,4,35
18,13437507,13.634620,50.505939,False,2020-06-08T08:00:00.0000+02:00,1,4,48
19,13461430,18.435035,49.770446,False,2020-06-11T23:51:00.0000+02:00,1,4,76
20,13461430,18.435035,49.770446,False,2020-06-11T23:51:00.0000+02:00,1,4,97
21,13461430,18.435035,49.770446,False,2020-06-11T23:51:00.0000+02:00,1,4,111
22,13478873,18.263536,49.802034,False,2020-06-10T16:34:00.0000+02:00,1,4,1
23,13478873,18.263536,49.802034,False,2020-06-10T16:34:00.0000+02:00,1,4,5
24,13478873,18.263536,49.802034,False,2020-06-10T16:34:00.0000+02:00,1,4,8
25,13479189,15.607164,49.597633,False,2020-06-01T08:45:00.0000+02:00,2,4,77
26,13479189,15.607164,49.597633,False,2020-06-01T08:45:00.0000+02:00,2,4,97
27,13505824,16.044048,48.862851,False,2020-06-19T10:05:00.0000+02:00,1,4,76
28,13505824,16.044048,48.862851,False,2020-06-19T10:05:00.0000+02:00,1,4,97
29,13505824,16.044048,48.862851,False,2020-06-19T10:05:00.0000+02:00,1,4,107
30,13527417,18.514224,49.896240,False,2020-06-04T12:55:00.0000+02:00,1,4,74
31,13527417,18.514224,49.896240,False,2020-06-04T12:55:00.0000+02:00,1,4,97
32,13527417,18.514224,49.896240,False,2020-06-04T12:55:00.0000+02:00,1,4,120
33,13563634,13.400060,49.728342,False,2020-06-30T14:30:00.0000+02:00,2,4,77
34,13563634,13.400060,49.728342,False,2020-06-30T14:30:00.0000+02:00,2,4,97
35,13603051,15.913834,50.132456,False,2020-06-05T09:17:00.0000+02:00,1,4,74
36,13603051,15.913834,50.132456,False,2020-06-05T09:17:00.0000+02:00,1,4,97
37,13603051,15.913834,50.132456,False,2020-06-05T09:17:00.0000+02:00,1,4,120
38,13613819,15.155923,50.738326,False,2020-06-08T07:15:00.0000+02:00,1,2,74
39,13613819,15.155923,50.738326,False,2020-06-08T07:15:00.0000+02:00,1,2,97
40,13613819,15.155923,50.738326,False,2020-06-08T07:15:00.0000+02:00,1,2,120
41,13625865,18.229512,49.801399,False,2020-06-19T07:07:00.0000+02:00,2,4,35
42,13625865,18.229512,49.801399,False,2020-06-19T07:07:00.0000+02:00,2,4,48
43,13625865,18.229512,49.801399,False,2020-06-19T07:07:00.0000+02:00,2,4,52
44,13650228,18.358019,49.575460,False,2020-06-15T10:20:00.0000+02:00,1,4,55
45,13650228,18.358019,49.575460,False,2020-06-15T10:20:00.0000+02:00,1,4,62
46,13650228,18.358019,49.575460,False,2020-06-15T10:20:00.0000+02:00,1,4,75
47,13650228,18.358019,49.575460,False,2020-06-15T10:20:00.0000+02:00,1,4,97
48,13650228,18.358019,49.575460,False,2020-06-15T10:20:00.0000+02:00,1,4,118
49,13661257,14.379480,49.975824,False,2020-06-01T12:30:00.0000+02:00,1,2,74

In [20]:
cities = pd.read_csv("souradnice.csv")

In [21]:
cities.head(50)

,Obec,Kód obce,Okres,Kód okresu,Kraj,Kód kraje,PSČ,Latitude,Longitude
0,Abertamy,554979,Karlovy Vary,CZ0412,Karlovarský kraj,CZ041,36235,50.368855,12.818377
1,Adamov,535826,České Budějovice,CZ0311,Jihočeský kraj,CZ031,37371,49.000624,14.539603
2,Adamov,581291,Blansko,CZ0641,Jihomoravský kraj,CZ064,67904,49.295708,16.663955
3,Adamov,531367,Kutná Hora,CZ0205,Středočeský kraj,CZ020,28601,49.857917,15.409018
4,Adršpach,547786,Náchod,CZ0523,Královéhradecký kraj,CZ052,54957,50.624387,16.083501
5,Albrechtice,598925,Karviná,CZ0803,Moravskoslezský kraj,CZ080,73543,49.786552,18.524545
6,Albrechtice,547981,Ústí nad Orlicí,CZ0534,Pardubický kraj,CZ053,56301,49.927643,16.644801
7,Albrechtice nad Orlicí,576077,Rychnov nad Kněžnou,CZ0524,Královéhradecký kraj,CZ052,51722,50.139886,16.064472
8,Albrechtice nad Vltavou,549258,Písek,CZ0314,Jihočeský kraj,CZ031,39816,49.253337,14.302929
9,Albrechtice v Jizerských horách,563528,Jablonec nad Nisou,CZ0512,Liberecký kraj,CZ051,46843,50.762400,15.275813
10,Albrechtičky,568741,Nový Jičín,CZ0804,Moravskoslezský kraj,CZ080,74255,49.701790,18.095627
11,Alojzov,506761,Prostějov,CZ0713,Olomoucký kraj,CZ071,79804,49.423541,17.041589
12,Andělská Hora,538001,Karlovy Vary,CZ0412,Karlovarský kraj,CZ041,36471,50.204490,12.962918
13,Andělská Hora,551929,Bruntál,CZ0801,Moravskoslezský kraj,CZ080,79331,50.060911,17.389192
14,Anenská Studánka,573426,Ústí nad Orlicí,CZ0534,Pardubický kraj,CZ053,56301,49.849856,16.540330
15,Archlebov,586030,Hodonín,CZ0645,Jihomoravský kraj,CZ064,69633,49.043689,17.004911
16,Arneštovice,509388,Pelhřimov,CZ0633,Kraj Vysočina,CZ063,39501,49.531610,15.117873
17,Arnolec,586854,Jihlava,CZ0632,Kraj Vysočina,CZ063,58827,49.436298,15.823702
18,Arnoltice,562343,Děčín,CZ0421,Ústecký kraj,CZ042,40714,50.837124,14.264055
19,Aš,554499,Cheb,CZ0411,Karlovarský kraj,CZ041,35201,50.223983,12.195113
20,Babice,537241,Prachatice,CZ0315,Jihočeský kraj,CZ031,38411,49.024865,14.237677
21,Babice,590274,Třebíč,CZ0634,Kraj Vysočina,CZ063,67544,49.135413,15.770586
22,Babice,569828,Hradec Králové,CZ0521,Královéhradecký kraj,CZ052,50351,50.192196,15.585617
23,Babice,552356,Olomouc,CZ0712,Olomoucký kraj,CZ071,78501,49.737929,17.260966
24,Babice,538043,Praha-východ,CZ0209,Středočeský kraj,CZ020,25101,50.008089,14.715907
25,Babice,592013,Uherské Hradiště,CZ0722,Zlínský kraj,CZ072,68703,49.123859,17.476827
26,Babice nad Svitavou,582794,Brno-venkov,CZ0643,Jihomoravský kraj,CZ064,66401,49.283402,16.696235
27,Babice u Rosic,582808,Brno-venkov,CZ0643,Jihomoravský kraj,CZ064,66484,49.173078,16.358273
28,Babylon,553433,Domažlice,CZ0321,Plzeňský kraj,CZ032,34401,49.398761,12.862893
29,Bácovice,561118,Pelhřimov,CZ0633,Kraj Vysočina,CZ063,39301,49.455771,15.158118
30,Bačalky,553701,Jičín,CZ0522,Královéhradecký kraj,CZ052,50723,50.385047,15.153530
31,Bačetín,576085,Rychnov nad Kněžnou,CZ0524,Královéhradecký kraj,CZ052,51801,50.299877,16.233416
32,Bačice,590282,Třebíč,CZ0634,Kraj Vysočina,CZ063,67555,49.081736,16.027802
33,Bačkov,546194,Havlíčkův Brod,CZ0631,Kraj Vysočina,CZ063,58291,49.735384,15.462118
34,Bačkovice,544833,Třebíč,CZ0634,Kraj Vysočina,CZ063,67532,48.965699,15.589000
35,Bakov nad Jizerou,535427,Mladá Boleslav,CZ0207,Středočeský kraj,CZ020,29401,50.482406,14.941596
36,Baliny,595217,Žďár nad Sázavou,CZ0635,Kraj Vysočina,CZ063,59401,49.332666,15.952501
37,Balkova Lhota,563251,Tábor,CZ0317,Jihočeský kraj,CZ031,39131,49.452124,14.608319
38,Banín,572560,Svitavy,CZ0533,Pardubický kraj,CZ053,56802,49.665712,16.462030
39,Bánov,592021,Uherské Hradiště,CZ0722,Zlínský kraj,CZ072,68754,48.988113,17.717631
40,Báňovice,562726,Jindřichův Hradec,CZ0313,Jihočeský kraj,CZ031,38001,49.011855,15.490340
41,Bantice,593729,Znojmo,CZ0647,Jihomoravský kraj,CZ064,67161,48.883187,16.182493
42,Barchov,569836,Hradec Králové,CZ0521,Královéhradecký kraj,CZ052,50401,50.197698,15.567740
43,Barchov,574724,Pardubice,CZ0532,Pardubický kraj,CZ053,53002,49.999411,15.680910
44,Barchovice,533173,Kolín,CZ0204,Středočeský kraj,CZ020,28163,49.944355,14.969206
45,Bartošovice,599212,Nový Jičín,CZ0804,Moravskoslezský kraj,CZ080,74254,49.668940,18.054715
46,Bartošovice v Orlických horách,576093,Rychnov nad Kněžnou,CZ0524,Královéhradecký kraj,CZ052,51761,50.164080,16.547862
47,Bartoušov,548260,Havlíčkův Brod,CZ0631,Kraj Vysočina,CZ063,58001,49.601128,15.618547
48,Bařice-Velké Těšany,588300,Kroměříž,CZ0721,Zlínský kraj,CZ072,76701,49.245527,17.426201
49,Baška,598011,Frýdek-Místek,CZ0802,Moravskoslezský kraj,CZ080,73901,49.645943,18.372443

In [1]:
from data_API_downloader import Downloader

In [2]:
download = Downloader(2020,11)

In [3]:
download.get_request()

200

In [4]:
data = download.unzip_files_return_dataframe()

In [5]:
data.head(50)

,id,x,y,mp,date,state,relevance,types
0,13990318,14.432970,50.060746,False,2020-11-02T16:58:00.0000+01:00,1,2,1
1,13990318,14.432970,50.060746,False,2020-11-02T16:58:00.0000+01:00,1,2,9
2,13990318,14.432970,50.060746,False,2020-11-02T16:58:00.0000+01:00,1,2,90
3,13990318,14.432970,50.060746,False,2020-11-02T16:58:00.0000+01:00,1,2,96
4,14022607,14.401882,50.068808,False,2020-11-09T08:12:00.0000+01:00,1,4,55
5,14022607,14.401882,50.068808,False,2020-11-09T08:12:00.0000+01:00,1,4,62
6,14174724,14.401882,50.068808,False,2020-11-16T08:34:00.0000+01:00,1,2,54
7,14174724,14.401882,50.068808,False,2020-11-16T08:34:00.0000+01:00,1,2,55
8,14174724,14.401882,50.068808,False,2020-11-16T08:34:00.0000+01:00,1,2,57
9,14174724,14.401882,50.068808,False,2020-11-16T08:34:00.0000+01:00,1,2,62
10,14182989,17.789926,49.420445,False,2020-11-19T14:35:00.0000+01:00,1,4,74
11,14182989,17.789926,49.420445,False,2020-11-19T14:35:00.0000+01:00,1,4,97
12,14182989,17.789926,49.420445,False,2020-11-19T14:35:00.0000+01:00,1,4,120
13,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,35
14,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,37
15,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,38
16,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,55
17,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,63
18,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,72
19,14216226,14.440899,50.110172,False,2020-11-15T08:00:00.0000+01:00,1,4,102
20,14239897,13.434496,50.484990,False,2020-11-16T16:25:00.0000+01:00,1,4,77
21,14239897,13.434496,50.484990,False,2020-11-16T16:25:00.0000+01:00,1,4,97
22,14253279,16.945001,50.162098,False,2020-11-24T22:34:00.0000+01:00,1,4,78
23,14253279,16.945001,50.162098,False,2020-11-24T22:34:00.0000+01:00,1,4,97
24,14253279,16.945001,50.162098,False,2020-11-24T22:34:00.0000+01:00,1,4,132
25,14264325,14.469825,50.054957,False,2020-11-15T22:45:00.0000+01:00,1,4,74
26,14264325,14.469825,50.054957,False,2020-11-15T22:45:00.0000+01:00,1,4,97
27,14264325,14.469825,50.054957,False,2020-11-15T22:45:00.0000+01:00,1,4,122
28,14270641,14.246866,50.092553,False,2020-11-11T10:20:00.0000+01:00,1,4,74
29,14270641,14.246866,50.092553,False,2020-11-11T10:20:00.0000+01:00,1,4,97
30,14270641,14.246866,50.092553,False,2020-11-11T10:20:00.0000+01:00,1,4,124
31,14270773,16.284341,50.162453,False,2020-11-17T16:00:00.0000+01:00,1,4,1
32,14270773,16.284341,50.162453,False,2020-11-17T16:00:00.0000+01:00,1,4,98
33,14276304,15.982573,50.074758,False,2020-11-07T13:40:00.0000+01:00,2,2,35
34,14276304,15.982573,50.074758,False,2020-11-07T13:40:00.0000+01:00,2,2,37
35,14276304,15.982573,50.074758,False,2020-11-07T13:40:00.0000+01:00,2,2,41
36,14278261,13.443391,50.495316,False,2020-11-12T14:39:00.0000+01:00,1,1,77
37,14278261,13.443391,50.495316,False,2020-11-12T14:39:00.0000+01:00,1,1,97
38,14278895,14.440343,50.054241,False,2020-11-09T12:29:00.0000+01:00,1,4,78
39,14278895,14.440343,50.054241,False,2020-11-09T12:29:00.0000+01:00,1,4,97
40,14278895,14.440343,50.054241,False,2020-11-09T12:29:00.0000+01:00,1,4,127
41,14285168,14.365137,49.985617,False,2020-11-02T08:00:00.0000+01:00,2,3,18
42,14285168,14.365137,49.985617,False,2020-11-02T08:00:00.0000+01:00,2,3,22
43,14295331,18.260659,49.582105,False,2020-11-02T20:00:00.0000+01:00,2,4,77
44,14295331,18.260659,49.582105,False,2020-11-02T20:00:00.0000+01:00,2,4,97
45,14298346,17.116643,49.470339,False,2020-11-01T09:31:00.0000+01:00,1,4,74
46,14298346,17.116643,49.470339,False,2020-11-01T09:31:00.0000+01:00,1,4,97
47,14298346,17.116643,49.470339,False,2020-11-01T09:31:00.0000+01:00,1,4,120
48,14300222,14.538171,50.652509,False,2020-11-18T08:20:00.0000+01:00,1,4,74
49,14300222,14.538171,50.652509,False,2020-11-18T08:20:00.0000+01:00,1,4,97